.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0;
}

table.dataTable{
    width: 100%;
}

table.dataTable thead .sorting:before,table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after{
    content: "";
}

